.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

@media (max-width: 575px) {
  .header-container {
    padding: 15px;
  }
}

.logo-and-title-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 84px;
  height: 84px;
  margin-right: 8px;
}

.title {
  color: red;
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: bold;
}

.nav-items-list {
  display: flex;
  padding-left: 0px;
}

.link-item {
  list-style-type: none;
}

.route-link {
  color: orangered;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 16px;
}
.logout-desktop-btn {
  background-color: blue;
  color: white;
  border: 0px none;
  border-radius: 4px;
  padding: 10px;
}
